<template>
	<div :class="['grid']">
		<slot></slot>
	</div>
</template>

<style lang="scss" scoped>
	.grid {
		display: grid;
		grid-template-columns: repeat(auto-fill, calc(100%/var(--column)));
		//grid-template-rows: repeat(auto-fit, 1px);
		justify-content: space-around;
		//row-gap: calc(var(--space)/3);
		//column-gap: calc(var(--space)/3);
		grid-auto-rows: calc(95vw/var(--column));
		grid-auto-flow: row;
	
		
		//column-gap: 50px;

		& > *{
			box-sizing: border-box;
			justify-content: center;
			//width: 100%;
			//min-height: 49vw;
		}

	}
</style>