<template>
    <a class="icon-card transition-all button" :href="link" target="_blank" rel="external">
        <font-awesome class="transition-all" :icon="['fab', icon]" />
        <p>{{name}}</p>
    </a>
</template>

<script>
export default {
    props: {
        name: String,
        icon: String,
        link: String,
    }
}
</script>

<style lang="scss">
.icon-card {
    display: block;
    min-width: 7rem;
    min-height: 7rem;
    text-decoration: none;
    color: var(--icon-button-color);
    text-align: center;

    svg {
        margin-bottom: 0.6rem;
        font-size: 2.9rem;
    }

    &:hover svg {
        color: var(--button-hover)
    }

}
</style>