<template>
    <section 
        @click="setSelected"
        :class="{
            project: true,
            selected: isSelected
        }">
         <g-image
            v-if="image"
            :alt="headline" 
            class="project__image" 
            :src="image"
            fit="cover"
            position="center"
            :immediate=false
        />
        <div class="project__content" ref="content">
            <a v-if="link" @click.stop="" class="button transition-all project__link" :href="link" target="_blank" rel="external">
                <font-awesome class="icon transition-all" :icon="['fas', 'external-link-alt']" />
            </a>
            <h3 class="project__headline">
                {{headline}}
            </h3>
            <div class="project__description" v-html="description" />
        </div>
    </section>
</template>

<script>
export default {
    props: {
        id: {
            type: String,
            required: true
        },
        selected: {
            type: String,
            default: null
        },
        headline: {
            type: String,
            required: true
        },
        image: String | Object,
        link: String,
        description: String
    },
    data() {
        return {
            isSelected: false,
        }
    },
    methods: {
        setSelected(){
            //const rows = getComputedStyle(this.$el).getPropertyValue('--scale-rows');
            

            this.isSelected = !this.isSelected
            if(this.selected === this.id){
                this.$emit('select', null)
            }else{
                this.$emit('select', this.id)
            }

            
        }
    },
    updated() {
        if(!this.isSelected) this.$el.classList.remove('size-m', 'size-l');
        const columns = getComputedStyle(this.$el).getPropertyValue('--columns');
        const increase = this.$refs.content.scrollHeight/this.$refs.content.clientHeight;
        console.log(increase)
        if(increase > 2){
            if (columns && Number(columns) > 1){
                this.$el.classList.add('size-l');
            } else {
                this.$el.classList.add('size-xl');
            }
        }else if (increase > 1){
            this.$el.classList.add('size-m');
        }
    
    },
    watch: {
        selected(value){
            this.isSelected = value === this.$props.id
        }
    }
}
</script>

<style lang="scss" scoped>
.project{

    --container-padding: calc(var(--space)/5);

    position: relative;
    padding: var(--container-padding);
	width: 100%;
	height: 100%;

   /* &:after {
        content: "";
        display: block;
        padding-bottom: 100%;
    }*/

    &.size-m{
        --scale-rows: 2;
    }

    &.size-l{
        --scale-rows: 2;
        --scale-columns: 1;
    }

    &.size-xl{
        --scale-rows: 2;
        --scale-columns: 2;
    }

    &.selected {
        grid-row: span var(--scale-rows, 1);
        grid-column: span var(--scale-columns, 1);

        .project__content{
            background: var(--bg-color-alpha);

            &:hover,
            &:focus {
                cursor: zoom-out;
            }
        }

        .project__description {
            display: block;
        }

        .project__image {
            filter: grayscale(100%) contrast(130%);
        }
    }
    
    

    &__content {
        position: relative;
        //padding: var(--container-padding);
        height: 100%;
        width: 100%;
        overflow-y: auto;
        overflow-x: hidden;

        &:hover,
        &:focus {
            cursor: zoom-in;
            .project__headline{
                color: var(--button-hover);
            }
            .project__link:hover + .project__headline{
                color: var(--body-color);
            }
        }

       // padding-top: calc(var(--space));
    }

    &__image {
		position: absolute;
        padding: var(--container-padding);
        //margin: 0 auto;
        top: 0;
        left: 0;
		height: 100%;
		width: 100%;
		object-fit: cover;
        //margin-bottom: 1em;
        
        
    }
    
    &__headline{
        position: sticky;
        display: inline-block;
		padding: calc(var(--space-n)/6);
        margin-top: calc(var(--space-n)/3);
        margin-right: var(--space-n);
		background: var(--bg-content-color);
        z-index: 11;
    }

    &__description{
        position: relative;
        display: none;
        background: rgba(var(--bg-content-color), 0.7);
        z-index: 10;
        padding: calc(var(--space)/5);
        margin: 0;
    }

    &__link{
        --corner-side: calc(var(--size-s)/3);
        transition: all var(--transition-time);
        position: absolute;
        background: var(--button-bg-color);
        height: var(--corner-side);
        width: var(--corner-side);
        top: calc(var(--corner-side)/2*-1);
        right: calc(var(--corner-side)/2*-1);
        transform:rotate(-45deg);

        opacity: var(--button-opacity);

        z-index: 20;

        &:hover,
        &:focus {
            
            background: var(--button-bg-hover);
            opacity: 1;

            & > .icon{
                color: var(--button-hover);
            }
        }

        & > .icon{
            position: relative;
            transform: translate(50%, 225%) scale(1.3) rotate(45deg)
        }
    }
}
</style>