<template>
	<Layout :showLogo=false>
		<Teaser 
			name="Wolfgang Rathgeb"
			title="Software Engineer"
			mailtoButtonText="Drop a note"
		/>
		<TextBlock
			:text="$page.intro.text"
			:headline="$page.intro.headline"
			:content="$page.intro.content"
		/>
		<CardFlex cssClass="icon-list">
			<IconCard
				v-for="social in this.socials" :key="social.name"
				:icon="social.icon || social.name.toLowerCase()"
				:name="social.name"
				:link="social.link"
			/>
		</CardFlex>
		
		<CardGrid class="projects">
			<ImageCard 
				v-for="external in displayProjects" :key="external.node.id"
				@select="newSelected"
				:id="external.node.id"
				:selected.sync="selectedProject"
				:image="external.node.image"
				:link="external.node.link"
				:headline="external.node.name"
				:description="external.node.content"
			/>
		</CardGrid>
		
	</Layout>
</template>

<page-query>
query {
  intro: text(path: "/content/text/intro") {
	metaDescription
    content
  }
  projects: allProject(sortBy: "date"){
    edges{
      node{
        id
        name
		image
        link
		content
      }
    }
  }
}
</page-query>

<script>

import Teaser from '../components/Teaser';
import TextBlock from '../components/TextBlock'
import ImageCard from '../components/Card/ImageCard';
import IconCard from '../components/Card/IconCard'
import CardFlex from '../components/Card/CardFlex';
import CardGrid from '../components/Card/CardGrid';

import socials from '../../content/social.yml'


export default {
	components: {
		Teaser,
		TextBlock,
		ImageCard,
		IconCard,
		CardFlex,
		CardGrid
	},
	data() {
		return {
			socials,
			selectedProject: null,
		}
	},
	computed: {
		displayProjects(){
			if(!this.$page.projects) return [];
			return this.$page.projects.edges.filter((p) => p.node.display || (p.node.name.length > 0))
		}
	},
	methods: {
		newSelected(id){
			this.selectedProject = id;
		},
		isSelected(id){
			return this.selectedProject === id;
		}
	},
	metaInfo() {
		return {
			meta: [{
				vmid: 'description',
				name: 'description',
				content: this.$page.intro.metaDescription
			}]
		}
	}
	
}
</script>

<style lang="scss">
@import '~/assets/style/_breakpoints.scss';
ul.icon-list {
	justify-content: center;
}

@media (max-width: $bp-s) {
	.projects{
		--column: 1;
		--scale-columns: 1;
		--scale-rows: 1;
	}
}

@media (min-width: $bp-s) and (max-width: $bp-m) {
	.projects{
		--column: 2;
	}
}

@media (min-width: $bp-m) and (max-width: $bp-l) {
	.projects{
		--column: 3;
	}
}

@media (min-width: $bp-l) and (max-width: $bp-xl) {
	.projects{
		--column: 4;
	}
}


</style>