<template>
    <a :class="{button: true, circle: iconButton, animate: animate, blink: blink}" :href="link" rel="external" role="button">
        <span class="icon-pre">
            <slot name="icon-pre"></slot>
        </span>
        <span class="text">
            <slot></slot>
        </span>
        <span class="icon-post">
            <slot name="icon-post"></slot>
        </span>
    </a>
</template>

<script>
export default {
    props: {
        link: String,
        iconButton: {
            type: Boolean,
            default: false
        },
        animate: {
            type: Boolean,
            default: false
        },
        blink: {
            type: Boolean,
            default: false
        },
    }
}
</script>

<style lang="scss" scoped>
.button {
    position: relative;
    transition: all var(--transition-time);
    display: block;
    background: var(--button-bg-color);
    padding: calc(var(--space-n)/4) calc(var(--space-n)/3);
    border-radius: var(--radius);
    border: 1px solid var(--border-color);

    &.blink{
        @keyframes blink {
            0%      {}
            50%     {
                        background: var(--button-hover);
                        color: var(--button-bg-color);
                    }
            100%    {}
        }
        animation-name: blink;
        animation-duration: calc(var(--transition-time)*4);
        animation-delay: calc(var(--transition-time)*10);
        animation-iteration-count: 1;
    }

    &.circle{
        border-radius: 100%;
        padding: calc(var(--space-n)/3);
    }

    &:hover{
        color: var(--button-hover);
        background: var(--button-bg-hover);
    }

    

    &.animate .text {
        @keyframes schrank {
            0%      { font-size: 0;}
            50%     {
                        font-size: 0.5;
                    }
            100%    { font-size: 1}
        }
         animation: schrank var(--transition-time) backwards;
    }

    &.animate.circle .text {
        @keyframes schrink {
            0%      { font-size: 1;}
            50%     {
                        font-size: 0.5;
                    }
            100%    { font-size: 0}
        }
        animation: schrink var(--transition-time) forwards;
        //font-size: 0;
    }

    .icon-post,
    .icon-pre {
        transition: all var(--transition-time);
        margin: 0;
    }

    & :not(.circle) .icon-pre {
        margin-right: calc(var(--space-n)/7);
    }

    &:not(.circle) .icon-post {
        margin-left: calc(var(--space-n)/7);
    }
}
    
</style>