<template>
	<section class="teaser">

		<g-image 
			:alt="$static.metadata.siteName" 
			class="teaser__image" 
			src="~/assets/images/wolfgang-rathgeb.jpg"
			fit="cover"
			position="center"
		/>

		<header class="teaser__head">
			<h1 class="teaser__name">
				{{ $static.metadata.siteName }}
			</h1>
			<h2 class="teaser__description">
				{{ $static.metadata.siteDescription }}
			</h2>
		</header>

		<Button 
			class="mailto"
			link="mailto:W.Rathgeb@dropanote.de"
			:iconButton.sync="this.mailtoCircle"
			:blink="this.mailtoAnimate"
			:animate=true
		>
			<template v-slot:default>{{mailtoButtonText}}</template> 
			<template v-slot:icon-post><font-awesome :icon="['far', 'paper-plane']" /></template>
		</Button>		

	</section>
</template>

<static-query>
query {
  metadata {
    siteName
	siteDescription
  }
}
</static-query>

<script>
import Button from './Button';
export default {
	components: {
		Button
	},
	props: {
		mailtoButtonText: String
	},
	data() {
		return {
			mailtoCircle: false,
			mailtoAnimate: false
		}
	},
	mounted() {
		if (
		"IntersectionObserver" in window &&
		"IntersectionObserverEntry" in window &&
		"intersectionRatio" in window.IntersectionObserverEntry.prototype
		) {
			let observer = new IntersectionObserver(entries => {
				if (entries[0].intersectionRatio < 0.8) {
					this.mailtoCircle = true;
				} else {
					this.mailtoCircle = false;
				}

				if (entries[0].intersectionRatio === 0){
					this.mailtoAnimate = true;
				}
			},{
				threshold: [0, 0.75, 0.85]
			});
			observer.observe(this.$el);
		}

	},
	
}
</script>

<style lang="scss">

.teaser {
	display: block;
	margin: 0 auto;
	text-align: center;

	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	&__head {
		position: absolute;
		padding: 2%;
		padding-right: 2.5%;
		margin-top: 3%;
		background: var(--bg-content-color);
		top: 0;
		left: 0;
	}

	h2 {
		margin-bottom: 0;
	}

	.mailto {
		position: fixed;
		bottom: calc(var(--space-n)/2);
		right: calc(var(--space-n)/2);
		z-index: 100;
	}

	&__image {
		//position: absolute;
		//margin: 0 auto;
		height: 100vh;
		width: 100vw;
		object-fit: cover;
		margin-bottom: 1em;
	}

	&__intro {
		opacity: .8;
	}

	&__site-title {
		font-size: 1.5em;
	}

	&__links {
		margin-top: -.5em;
		a {
			margin: 0 .5em;
		}
	}
}
</style>
