<template>
    <section v-html="content">
    </section>
</template>

<script>
export default {
    props: {
        content: String,
    }
}
</script>

<style lang="scss" scoped>
section {
    margin: 0 auto;
    max-width: var(--size-xl);
    padding: var(--space);
}
</style>