<template>
	<div id="app">

		<header :class="{header: true, logo: showLogo}">
			<div class="header__left">
				<slot name="logo">
					<Logo v-if="showLogo" /> 
				</slot>
				
			</div>

			<div class="header__right">        
				<ToggleTheme />
			</div>
		</header>

		<main class="main">
			<slot/>
		</main>

		<footer class="footer">
			<span class="footer__copyright">Copyright © {{ new Date().getFullYear() }}. </span>
			<span class="footer__links">Published with: <a href="https://gitlab.com/CordlessWool/mecum"> Mecum </a></span>
			<a class="footer__impressum" href="/legal-notice">legal notice</a>
		</footer>

	</div>
</template>

<static-query>
query {
  metadata {
    siteName
	siteDescription
  }
}
</static-query>


<script>
import ToggleTheme from '~/components/ToggleTheme.vue';
import Logo from '~/components/Logo.vue';
import dayjs from 'dayjs'

export default {
	props: {
		showLogo: { default: true }
	},
	components: {
		ToggleTheme,
		Logo
	},
	metaInfo() {
		const meta = [
			{ charset: 'utf-8' },
			{ name: 'viewport', content: 'width=device-width, initial-scale=1' },
			{ name: 'theme-color', content: '#373239'},
			{ name: 'date', content: dayjs().format('{YYYY} MM-DDTHH:mm:ss SSS [Z] A')}
		]
		return {
			title: this.$static.metadata.siteDescription,
    		titleTemplate: `${this.$static.metadata.siteName} | %s`,
			meta
		}
	}
}
</script>

<style lang="scss">
.header {

	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: var(--header-height);
	padding: 0 calc(var(--space) / 2);
	top:0;
	z-index: 10;

	&__left,
	&__right {
		display: flex;
		align-items: center;
	}

	@media screen and (min-width: 1300px) {
		//Make header sticky for large screens
		position: sticky;
		width: 100%;
	}

	&:not(.logo) {
		position: absolute;
		right: 0;
	}

}

.main {
	margin: 0 auto;
}

.footer {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: calc(var(--space) / 2);
	text-align: center;
	font-size: .8em;

	> span, > a{
		margin: 0 .9em;
	}

	a {
		color: currentColor;
	}
}
</style>
